@import '../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 150px; // normal value is 80px, 150px for footer

  &__item {
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:focus {
      border: 1px solid $primary-grey;
      background-color: $primary-grey;
      color: $white;
    }
  }

  &__items {
    display: flex;

    > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}
