@import '../../styles/base-theme.scss';

.navbar-item {
  margin-inline: 32px;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-inline: 20px;
  }

  &__link {
    position: relative;

    &--icon {
      padding: 24px;
      border-left: $header-border;

      @media (max-width: 768px) {
        padding: 16px;
      }
    }

    &--icon-count {
      &::before {
        content: attr(data-content);
        display: flex;
        align-items: center;
        justify-content: center;

        background: $red-color;
        color: $white-color;
        font-family: $font-family;
        border-radius: 50%;
        min-width: 14px;
        height: 14px;
        padding: 2px;
        border: 1px solid $white-color;
        font-size: 9px;
        line-height: 0;

        position: absolute;
        right: 20%;
        top: 20%;
        z-index: 999;

        @media (max-width: 768px) {
          right: 10%;
          top: 10%;
        }
      }
    }

    &--text {
      text-transform: Uppercase;
      font-family: $font-family;
      color: $secondary-color;
      font-size: 12px;
      font-weight: 800;
      padding-block: 24px;

      @media (max-width: 768px) {
        padding-block: 15px;
      }

      &:hover {
        color: $primary-color;
      }
    }

    &--active {
      color: $primary-color;

      &::after {
        content: '';
        background: $primary-color;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &--footer-position {
      display: flex;
      align-items: center;
      flex-basis: 50%;

      &:first-child {
        & .navbar-item__link--icon {
          border-left: none;
        }
      }

      & .navbar-item__link--icon {
        width: 100%;
        text-align: center;

        &::before {
          right: 40%;
        }
      }
    }
  }
}
