@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/mixins.scss';

.paginationButton {
  border: 1px solid $border-grey-second;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;


  @include font-mont-regular;
  font-size: 14px;
  line-height: 21px;

  &:hover {
    cursor: pointer;
    border: 1px solid $primary-grey;
  }

  &__active {
    border: 1px solid $primary-grey;
    color: $white;
    background-color: $primary-grey;
  }

  &__arrowLeft {
    margin-right: 16px;
  }

  &__arrowRight {
    margin-left: 16px;
  }
}
