@font-face {
  font-family: 'Mont-Regular';
  src:
    url('../fonts/Mont/Mont-Regular.woff2') format('woff2'),
    url('../fonts/Mont/Mont-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Mont-Bold';
  src:
    url('../fonts/Mont/Mont-Bold.woff2') format('woff2'),
    url('../fonts/Mont/Mont-Bold.woff') format('woff');
}
