@import '../../styles/variables.scss';

.btnRound {
  width: 32px;
  height: 32px;
  background-color: $white;
  border: 1px solid #e2e6e9;
  box-shadow: inset 0 0 0 2px #ffffff;
  border-radius: 100%;

  transition: border 0.2s ease-in-out;

  &:hover {
    border: 1px solid #b4bdc3;
  }

  &:focus {
    border: 1px solid $primary-grey;
  }

  &.selected {
    border: 1px solid $primary-grey;
  }
}
