@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$custom-background: attr(data-bg);

.product {
  &__main-title {
    @include h2;
    margin-bottom: 40px;
    color: $primary-grey;
  }

  &__wrapp {
    gap: 64px;
    display: flex;
    flex-direction: column;
  }

  &__line {
    border-bottom: 1px solid $border-grey;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  &__title {
    @include h3;
    color: $primary-grey;
  }

  &__body-text {
    @include body-text;
    color: $primary-grey;

    &--ligth {
      color: $light-grey;
    }
  }

  &__container {
    display: flex;
    column-gap: 64px;

    &--part-50 {
      flex-basis: 50%;
    }

    &--bottom {
      margin-bottom: 80px;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 56px;
      }
    }
  }

  &__spec-wrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.about-content {
  margin-top: 32px;
  &__title {
    @include font-mont-bold;
    font-size: 20px;
    color: $primary-grey;
    font-weight: 600;
  }

  &__text {
    margin-top: 16px;
  }
}

.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.recommendedProducts {
  margin-bottom: 81px;
}