@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$custom-background: attr(data-bg);

.product {
  &__title-container-mob {
    display: flex;
    justify-content: space-between;
  }

  &__color-round {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    border: 2px solid $white;
    box-shadow: 0px 0px 1px 1px $border-grey-second;

    &--current {
      box-shadow: 0px 0px 1px 1px $primary-grey;
    }
  }

  &__main-title {
    @include h2;
    margin-bottom: 40px;
    color: $primary-grey;
  }

  &__wrapp {
    gap: 64px;
    display: flex;
    flex-direction: column;
  }

  &__line {
    border-bottom: 1px solid $border-grey;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  &__specific {
    display: flex;
    gap: 8px;
  }

  &__capacity {
    @include body-text;
    color: $primary-grey;
    border: 1px solid $border-grey-second;
    padding: 7px 8px;
    line-height: 1;

    &--active {
      background: $primary-grey;
      color: $white;
    }
  }

  &__title {
    @include h3;
    color: $primary-grey;
  }

  &__small-title {
    @include small-text;
    @include font-mont-regular;
    color: $primary-grey;
    margin-bottom: 8px;

    &--ligth {
      color: $light-grey;
    }
  }

  &__body-text {
    @include body-text;
    color: $primary-grey;

    &--ligth {
      color: $light-grey;
    }
  }

  &__container {
    display: flex;
    column-gap: 64px;

    &--part-50 {
      flex-basis: 50%;
    }

    &--part-60 {
      flex-basis: 60%;

      @media (max-width: 768px) {
        flex-basis: 100%;
      }
    }

    &--top {
      @media (max-width: 576px) {
        flex-direction: column;
        gap: 40px;
      }
    }

    &--bottom {
      margin-bottom: 80px;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 56px;
      }
    }
  }

  &__spec-wrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__price-discount {
    @include h2;
    color: $primary-grey;
  }

  &__price-regular {
    @include h3;
    @include font-mont-regular;
    color: $border-grey;
    text-decoration: line-through;
  }

  &__cta {
    display: flex;
    gap: 10px;
    margin-bottom: 32px;
  }
}

.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}


.recomended {
  

  &__tittle {
    @include h2;
    margin-bottom: 24px;
  }
}