@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cartPay {
  border: 2px solid $border-grey;
  max-height: 206px;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 368px;
    flex-grow: 1;
  }

  &__content {
    width: 100%;
    padding: 24px;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border: 1px solid $border-grey;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 48px);
    }

    &-total {
      @include h2;
    }

    &-description {
      color: $border-grey-second;
      @include body-text;
      margin-bottom: 32px;
    }
  }

  &__modal {
    position: absolute;
    width: 270px;
    height: 400px;

    border: 1px solid rgb(204, 204, 204);
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 640px) {
      width: 450px;
      height: 430px;
    }

    &-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      inset: 0px;
      background-color: rgba(255, 255, 255, 0.75);
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-successIcon {
      width: 60px;
      height: 60px;

      margin-bottom: 27px;

      @media (min-width: 640px) {
        width: 94px;
        height: 94px;
      }
    }

    &-message {
      @include font-mont-regular;
      color: #474747;
      font-size: 20px;
      margin-bottom: 14px;

      text-align: center;

      @media (min-width: 640px) {
        font-size: 26px;
      }
    }

    &-price {
      @include font-mont-bold;
      font-size: 25px;
      color: #121212;
      margin-bottom: 100px;

      text-align: center;

      @media (min-width: 640px) {
        font-size: 39px;
      }
    }

    &-button {
      cursor: pointer;
      @include font-mont-regular;
      background-color: #313237;
      color: #fff;

      font-size: 14px;
      line-height: 21px;

      height: 48px;
      width: 170px;

      border: none;
      transition: box-shadow 0.2s ease-in-out;

      @media (min-width: 640px) {
        width: 320px;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 13px 0px $btn-shadow;
      }
    }
  }
}
