@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.footer {
  width: 100%;
  padding: 32px 16px;
  background-color: $white;
  box-shadow: 0px -1px 0px 0px $border-grey;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  @media (min-width: 640px) {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    padding: 32px 24px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(24, 1fr);
    padding: 32px 32px;
  }

  &__logo {
    @media (max-width: 639px) {
      margin-bottom: 32px;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    @media (min-width: 640px) {
      grid-column: span 2;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 639px) {
      grid-row-start: 3;
      grid-row-end: 6;

      > * {
        margin-bottom: 16px;
      }
    }

    @media (min-width: 640px) {
      grid-column: 4 / 9;
      flex-direction: row;
    }

    @media (min-width: 1200px) {
      grid-column: 9 / 16;
    }
  }

  &__link {
    text-transform: uppercase;
    @include font-mont-regular;
    color: $light-grey;
  }

  &__anchor {
    @include font-mont-regular;
    color: $light-grey;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 639px) {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column: 1 / 5;

      > span {
        margin-right: 16px;
      }
    }

    @media (min-width: 640px) {
      grid-column: 10 / 13;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      grid-column: 22 / 25;
    }
  }
}
