@import '../../styles/mixins.scss';
@import '../../styles/base-theme.scss';

.container {
  $column-count: 1;
 

  display: grid;
  grid-template-columns: repeat($column-count, 272px);
  row-gap: 40px;
  column-gap: 16px;
  justify-content: center;

  @media (min-width: 640px) {
    & {
      grid-template-columns: repeat(2, 272px);
    }
  }

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(4, 272px);
    }
  }
}

.description {
  color: $secondary-color;
  margin-bottom: 40px;

  @include body-text;
}

.sort {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.pagination {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: $secondary-color;
  @include body-text;
}