@import '../../styles/mixins.scss';
@import '../../styles/base-theme.scss';

.container {
  $column-count: 1;
 

  display: grid;
  grid-template-columns: repeat($column-count, 272px);
  row-gap: 40px;
  column-gap: 16px;
  justify-content: center;

  @media (min-width: 640px) {
    & {
      grid-template-columns: repeat(2, 272px);
    }
  }

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(4, 272px);
    }
  }
}

.card-container {
  margin-bottom: 25px;
}

.select__pagination,
.sort__sort-by,
.sort__sort-order {
  outline: 2px solid #B4BDC3;
  border: none;
  display: inline-block;
  padding: 0 5px;
  height: 30px;
  @include body-text;

  &:focus {
    outline: 2px solid black;
  }
}


.description {
  color: $secondary-color;
  margin-bottom: 40px;

  @include body-text;
}

.sort {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.sorter {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: $secondary-color;
  @include body-text;
}

.sort-by {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: $secondary-color;
  @include body-text;
}

.sort-order {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: $secondary-color;
  @include body-text;
}

h1 {
  @include h1;
}