.card {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  box-sizing: border-box;
  width: 272px;
  height: 506px;
  border: 1px solid var(--Gray-Elements, #e2e6e9);
  background: var(--Gray-White, #fff);
}
